@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body,
input,
textarea {
    font-family: 'El Messiri', sans-serif;
}

.container2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #8000ff;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(110deg, #8000ff, #fe7d26);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #8000ff;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: #161623;
    font-weight: 500;
    font-size: 2.9rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container-n {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #161623;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #161623;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
    padding: 1rem 1.5rem;
}

textarea.input {
    padding: 1rem 1.5rem;
    min-height: 150px;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
}

.input-container-n label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #161623;
    font-size: 1.5rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container-n.textarea label {
    top: 1.5rem;
    transform: translateY(0);
}

.btn {
    padding: 0.8rem 1.5rem;
    background-color: #161623;
    border: 2px solid #161623;
    font-size: 1.5rem;
    color: #8000ff;
    line-height: 2;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    width: 100%;
}

.btn:hover {
    background-color: transparent;
    color: #161623;
}

.input-container-n span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.3rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container-n span:before,
.input-container-n span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #8000ff;
    top: 50%;
    transform: translateY(-50%);
    
}

.input-container-n span:before {
    left: 50%;
}

.input-container-n span:after {
    right: 50%;
}

.input-container-n.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1.1rem;
    
}

.input-container-n.focus span:before,
.input-container-n.focus span:after {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 2.5rem 2.4rem;
    position: relative;
}

.contact-info .title {
    background: -webkit-linear-gradient(#8000ff, #fe7d26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-info .text {
    color: #161623;
    margin: 1.5rem 0 2rem 0;
    font-size: 1.7rem;
}

.contact-info  .info .information p{
    display: flex;
    color: #161623;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.5rem;
}

.information i {
    background: -webkit-linear-gradient(#8000ff, #fe7d26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

.icon {
    width: 38px;
    margin-right: 0.7rem;
}

.social-media {
    padding: 2rem 0 0 0;
}

.contact-info .social-media p {
    color: #161623;
    font-size: 1.5rem;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(#8000ff, #fe7d26);
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.05);
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #8000ff;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #8000ff, #fe7d26);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #161623;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.copyright {
    font-size: medium;
}

@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }

    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }


    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .social-media {
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }

    .contact-info:before {
        display: none;
    }

    .square,
    .big-circle {
        display: none;
    }

    form,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }

    .text,
    .information,
    .social-media p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.15rem;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .icon {
        width: 23px;
    }

    .input {
        padding: 0.45rem 1.2rem;
    }

    .btn {
        padding: 0.45rem 1.2rem;
    }
}