
/* UPCOMING EVENTS */

.upcoming-events h1 {
    margin: 16px 0 10px;
  }
  
  .event-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: 14px 0 20px;
  }
  
  .event-card {
    display: grid;
    grid-auto-flow: dense;
    grid-template-rows: 2fr 0.8fr 0.5fr;
    padding: 8px;
    background-color: var(--card-bg-color);
    border-radius: 8px;
    border: 2px solid rgba(169, 150, 253, 0.5);
    box-shadow: 0px 4px 5px 0px var(--shadow-color),
      0px 1px 8px 0px var(--shadow-color), 0px 2px 4px -1px var(--shadow-color);
  }
  
  /* Event Header */
  
  .event-header {
    position: relative;
    height: 180px;
    margin-bottom: 8px;
  }
  
  .event-header img {
    position: relative;
    inset: 0;
    width: 100%;
    height: 180px;
    border-radius: 6px;
    border: 2px solid rgba(125, 125, 137, 0.5);
    object-fit: cover;
  }
  
  .event-header p {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 0.8rem;
    color: rgb(240, 248, 255);
    background-color: rgba(17, 16, 45, 0.6);
    padding: 4px 6px;
    border-radius: 3px;
    box-shadow: 0 8px 20px rgba(74, 72, 72, 0.1);
  }
  

  .like-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
    color: white;
    background-color: rgba(17, 16, 45, 0.6);
    padding: 4px;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgba(74, 72, 72, 0.1);
    cursor: pointer;
  }

  
  /* Event Content */
  
  .event-content {
    display: grid;
    grid-auto-flow: dense;
    grid-template-rows: 2fr 1fr;
    padding: 6px 6px 12px;
  }
  
  .event-content h2 {
    margin-bottom: 6px;
    line-height: 1.3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  
    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  
  .event-content p {
    font-size: clamp(0.8rem, 4vw, 0.9rem);
    opacity: 0.8;
  }
  
  /* Event Footer */
  
  .event-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
  }
  
  .event-footer p {
    color: rgb(240, 248, 255);
    font-size: clamp(0.6rem, 3vw, 0.8rem);
    font-weight: 600;
    letter-spacing: 1px;
    padding: 6px 10px;
    border-radius: 50px;
  }
  
  .btn-group {
    display: inline-flex;
  }
  
  .event-footer .btn-group button {
    background-color: rgb(51, 108, 215);
    color: rgb(240, 248, 255);
    padding: 5px 10px;
    outline: 0;
    border: 2px solid rgb(51, 108, 215);
    border-radius: 4px;
    font-size: clamp(0.6rem, 3vw, 0.8rem);
    font-weight: 500;
    margin-left: 3px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .event-footer .btn-group button:hover {
    background-color: rgb(90, 139, 231);
    border: 2px solid rgb(151, 177, 226);
  }
  
  /* Share Button Popup */
  
  .share {
    position: relative;
  }
  
  .popup {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: -45px;
    left: -15px;
    min-width: 70px;
    padding: 5px 8px 3px;
    border-radius: 10px;
    background-color: var(--pop-bg-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(50px) scale(0);
    -webkit-transform: translateY(50px) scale(0);
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    cursor: auto;
  }
  
  .popup.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    -webkit-transform: translateY(0) scale(1);
  }
  
  .popup::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: var(--pop-bg-color);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    transform: translate(0px, 20px);
    -webkit-transform: translate(0px, 20px);
  }
  
  .popup li a i {
    font-size: 1.4rem;
  }
  